.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

#tweet-text {
  border: none;
  border-bottom: 5px solid #45433c;
  padding: 5px;
  outline: none;
  background: transparent;
  width: 100%;
  margin-bottom: 5px;
}

label {
  font-family: 'Source Sans Pro', sans-serif;
}

textarea {
  padding: 5px;
  width: 100%;
}


div {
  display: flex;
  justify-content: space-between
}

button {
  font-family: "Bungee", sans-serif;
  background: #4056a1;
  color: #FFFFFF;

}


output {
  font-family: "Bungee", sans-serif;

}

.counterOutOfBounds {
  color: #fc2727;
}